[2018-10-12 18:59] Issif opened #3 "Add email output"
Add `email` as available output.

Daemon will not send emails directly but will use `net/smtp` package to use a remote smtp server. As other inputs, config will be with env vars.

[2018-10-12 19:13] Issif opened #4 "Add influxdb output"
Add `influxdb` as available output.

[2018-10-29 22:49] perriea opened #5 "Add event output to a cloud queue"
Add in cloud queue as available output.
Example :
SQS (AWS)
pub/sub (Google)

[2018-10-30 09:50] Issif commented on #5
Will check for :

- AWS SQS
- AWS SNS
- GCP Pub/Sub

[2018-11-15 22:17] palmerabollo opened #6 "Add alertmanager output"
It would be useful to add a new output that uses the alertmanager API (https://prometheus.io/docs/alerting/clients/) to send alerts.

[2018-11-30 15:40] Issif opened #8 "Add AWS Security Hub"
https://docs.aws.amazon.com/fr_fr/securityhub/1.0/APIReference/Welcome.html

**Still in Preview at AWS**

[2019-01-31 15:45] perriea opened #10 "Add helm chart"
All in the title !
I can do it soon

[2019-02-01 08:56] Issif opened #11 "Add usage go mod"
#9

[2019-02-01 11:03] #11 closed

[2019-02-01 11:10] perriea commented on #8
In the Helm Chart (https://github.com/helm/charts/blob/master/stable/falco/values.yaml#L172), there is the Google Cloud Security Command Center, so it's possible to create an issue to ask a new integration with AWS.

[2019-02-01 11:15] Issif commented on #6
closed with #7

[2019-02-01 11:18] Issif commented on #6
cose with #7

[2019-02-01 11:18] #6 closed

[2019-02-01 16:47] palmerabollo commented on #6
Thanks!

[2019-02-08 09:39] Issif opened #12 "Add test endpoint"
Add an endpoint `/test` to check communications with enabled outputs.

[2019-05-04 08:06] Issif opened #14 "Add Elasticsearch Output"
#23

[2019-05-08 20:01] natalysheinin opened #15 "[Slack Alerts] Change Header to only include Rule Name"
Currently, if your falco rule output is fairly long, each slack alert by falcosidekick will spit out a really ugly json blob (even though that information is already captured in the slack event right below).

I think it may make sense to change it to be just the rule name or configurable via environment variables.

![image](https://user-images.githubusercontent.com/6011550/57404863-07758780-71ab-1

[2019-05-09 08:27] Issif commented on #15
Hi,

Do you mean something like that?

![image](https://user-images.githubusercontent.com/4520100/57438411-26742800-7244-11e9-8512-9fc364cf9b40.png)

I can add an variable `SLACK_DETAILED_FIELDS=(true|false)` to handle that.

[2019-05-09 12:37] Issif opened #17 "v2.0.0 Roadmap"
Before integrating new outputs I'm planning some changes (and possible breaks) for a v2.0.0. Here what and why.

#### Configuration

Until now, configuration is only possible through environment variables, I would like to add a config file as the number of option is increasing as long I'm adding new outputs. My idea is to use https://github.com/spf13/viper and use its capacity to handle different

[2019-05-09 13:56] Issif commented on #15
merged with #18

[2019-05-09 15:41] Issif commented on #15
fixed by #19

[2019-05-09 15:41] #15 closed

[2019-05-23 14:56] #17 closed

[2019-05-23 14:56] #14 closed

[2019-06-07 14:57] Issif commented on #10
#25

[2019-06-14 07:39] Issif commented on #4
https://github.com/Issif/falcosidekick/releases/tag/2.2.0

[2019-06-14 07:39] #4 closed

[2019-06-17 19:13] #10 closed

[2019-06-24 14:00] ariguillegp opened #27 "Include dateformat suffix to Elasticsearch indices"
It is really helpful to have indices that can group data on a daily, monthly or annually basis. Here we have some examples:
Daily index: sample-2019.06.24
Monthly index: sample-2019.06
Annual index: sample-2019

[2019-06-24 16:10] Issif commented on #27
Hi,

Thanks for your issue, I agree you, I already had that in mind and got several ideas for implement it.

Will do it asap.

[2019-06-24 20:21] Issif commented on #27
@ariguillegp I just pushed a new branch https://github.com/Issif/falcosidekick/tree/suffix_elasticsearch

Please test docker image with tag `suffix_elasticsearch`, details are in README of branch.

For now, it's UTC only, do you need timezoning for rotations?

[2019-06-25 01:43] ariguillegp commented on #27
Thanks, I just tested the image and the only problem I found was with the monthly indices. That's why I am proposing https://github.com/Issif/falcosidekick/pull/28

[2019-06-25 08:29] Issif commented on #27
I rebased with your commit, thanks. If ok for you, I'm releasing a new version.

[2019-06-25 15:54] ariguillegp commented on #27
Tested again and it works fine! Thanks

[2019-06-25 15:54] #27 closed

[2019-08-09 10:03] Issif commented on #5
#29

[2019-08-09 20:29] aaronmlucas opened #30 "Add Microsoft Teams integration"
**What would you like to be added**:
native Microsoft Teams integration to allow for pushing alerts to the chat platform

**Why is this needed**:
Currently the program_output example isn't accepted by MS teams:
`[plundering-grasshopper-falco-jfjp9] Invalid webhook request - Empty Payload18:16:22.370929225: Notice A shell was spawned in a container with an attached terminal (user=<NA> k8s.ns=defaul

[2019-08-10 15:52] Issif commented on #30
Seems good for you? Any idea to improve the design?

![image](https://user-images.githubusercontent.com/4520100/62823960-9f628300-bb97-11e9-86cd-c6d0bad1cc7d.png)

[2019-08-10 19:35] aaronmlucas commented on #30
This looks good to me, mapping the values out will be useful.

[2019-08-13 18:14] Issif commented on #30
available in release 2.5.0

[2019-08-13 18:14] #30 closed

[2019-08-13 19:18] Issif commented on #5
* SQS is implemented with release 2.5.0 #31

[2019-08-23 21:31] Issif opened #32 "Add Loki output (Grafana)"

[2019-08-25 06:59] Issif opened #33 "Use of a configmap for k8s deployment"

[2019-08-26 09:17] Issif commented on #3
released with [2.6.0](https://github.com/Issif/falcosidekick/releases/tag/2.6.0)

[2019-08-26 09:17] #3 closed

[2019-08-27 15:10] Issif commented on #32
[v2.7.0](https://github.com/Issif/falcosidekick/releases/tag/2.7.0)

[2019-08-27 15:10] #32 closed

[2019-08-27 18:50] Issif opened #34 "Need a new Dockerhub repo since falcosidekick has migrated ton falcosecurity organization"
Falcosidekick is now a part of falcosecurity organization, so we need to migrate docker images too. Currently it's on my own account : https://hub.docker.com/r/issif/falcosidekick/.

[2019-08-27 21:59] fntlnz commented on #34
Here you go! https://cloud.docker.com/u/falcosecurity/repository/docker/falcosecurity/falcosidekick

[2019-08-27 22:05] Issif commented on #34
We need to link the github account to allow auto build.

[2019-08-28 09:06] Issif commented on #34
https://hub.docker.com/r/falcosecurity/falcosidekick/tags 😉

[2019-08-28 16:00] kris-nova opened #35 "Falco Sidekick Open Calls"
Can we please have an open ended call to start planning development on Falco sidekick?

[2019-08-28 16:02] Issif commented on #35
I think best slot would be between 2 falco office hours, a wednesday, same hour.

[2019-08-28 18:06] Issif opened #36 "Add NATS Output"
**What would you like to be added**:

Add NATS as available output.

**Why is this needed**:

Falcosidekick is now an official way to handle events triggered by falco, it may be relevant to replace the brick used by https://github.com/sysdiglabs/falco-nats by it

[2019-08-29 08:19] fntlnz commented on #34
Which GitHub account @Issif ?

[2019-08-29 20:04] Issif commented on #34
I'm afraid this has to be `falcosecurity` but I can push images manually after each release, it's not a big deal. I did it for current one.

For me, can close this issue, ok for you @fntlnz ?

[2019-09-10 21:09] Issif commented on #36
#37

[2019-10-18 20:53] Issif opened #44 "Test http output of falco as new method to get events"
Falco provides native sends in http, for now, falcosidekick usee program output + curl. @mfdii proposed me to benchmark both to choose best.

[2019-10-29 08:21] #34 closed

[2019-10-29 08:42] Issif opened #45 "Add Webhook Output"

[2019-10-30 19:43] Issif opened #46 "Add Cloudwatch Logs Output"

[2019-10-31 23:00] palmerabollo opened #47 "publish docker image"
Hi @Issif . Could you please push the 2.10.0 image to docker hub when you have some time?
Thanks.

[2019-11-02 13:13] Issif commented on #47
@palmerabollo I forgot, sorry.

It's pushed : [2.10.0](https://hub.docker.com/layers/falcosecurity/falcosidekick/2.10.0/images/sha256-d9b2e10b6ea0025a57d4e00b2f8b35a917e676b18c8156833558f45fad8053b3)

Thanks.

[2019-11-02 13:13] #47 closed

[2019-11-07 22:07] Issif commented on #44
I didn't benchmarked but it works.

[2019-11-07 22:07] #44 closed

[2019-11-08 21:51] Issif opened #49 "Current StatsD implementation works only with DogStatsD"
Last release has added support for StatsD as Output with usage of this [package](https://github.com/DataDog/datadog-go/) from Datadog.

It works well with Dogstatsd but it's not full functionnal with more classic implementation of StatsD protocol. The glitch is on all metrics with tags, that's a custom feature which is only available in Dogstatsd, classic statsd doesn't accept them.

cc @actgardne

[2019-11-12 05:22] kamirendawkins commented on #33
Is the goal of this to not only use a `ConfigMap` for non-secret configurations but also to hot-reload when ever said `ConfigMap` changes?

[2019-11-12 08:31] Issif commented on #33
That's a good idea. For now, `ConfigMap` is not my top prio, but feel free to create an issue linked to this one for asking hot reloading.

[2019-11-13 21:51] #49 closed

[2019-11-13 22:09] #45 closed

[2019-12-01 14:45] sandeeplamb commented on #33
@Issif 1 Question.
What is best practice to install sidekick?
As a sidecar container in Falco Pod or as a separate Chart Altogether?

[2019-12-01 20:39] Issif commented on #33
That's a good question. For now, the only method for deployment is a separated helm chart. I hope to add falcosidekick as a sidecar in official falco helm chart. It will be useful for different reasons :

- only one helm chart to rule them all
- I'm planning to add unix pipe as input
- for pipe, http, gRPC inputs, a single pod makes communications easier (for example, falcosidekick is already able

[2019-12-11 12:59] kamirendawkins opened #52 "[SLACK Integration]: Message Format Interpolation Failure"
**Describe the bug**
As documented the message formatting works as expected:
[code]

In an attempt to be more dynamic it appears that interpolation completely fails:

[code]

**How to reproduce it**

Pass in the above Slack Message Formatting and test. Using the above format will remove all format text and logging will not indicate a failure.

**Expected behaviour**

Since we can pull selected fie

[2019-12-11 14:56] Issif commented on #52
Your example is wrong. It should be :

[code]

With that payload (from README example) :

[code]

![image](https://user-images.githubusercontent.com/4520100/70632066-7548cc80-1c2e-11ea-84ef-021bcdf6d0ad.png)

`priority` is not a part of `output_fields` (`OutputFields` in `Go struct`).

If you want to access a value from its key in `OutputFields`, this works :

[code]

![image](https://user-images.

[2019-12-11 18:02] kamirendawkins commented on #52
@Issif For some reason I had thought that priority was part of the struct but I see that it is indeed not. Sorry about that. I will close this since it is not actually an issue.

[2019-12-11 18:05] #52 closed

[2019-12-11 18:07] Issif commented on #52
No problem, this issue may be useful for some else in future.

[2020-01-13 12:04] czunker opened #55 "falcosidekick cannot be deployed on k8s with Pod Security Policy enabled"
**Describe the bug**

The helm chart does not contain a pod security policy, a clusterrole and an assignment.

**How to reproduce it**

Try to deploy it in k8s with PSPs enabled.

**Expected behaviour**

helm charts deployes without errors. and pod starts.

**Screenshots**

**Environment**

- Falco version:
0.18.0
- System info:

- Cloud provider or hardware configuration:
AWS
- OS:
kops based k8s

[2020-01-13 12:05] czunker commented on #55
The combination of #53 and #54 should fix the problem.

[2020-01-14 10:26] Issif commented on #55
I approved your two PR. I will release 2.11.2 soon. Thanks.

[2020-01-17 09:36] Issif commented on #55
[2.12.0](https://github.com/falcosecurity/falcosidekick/releases/tag/2.12.0)

[2020-01-17 09:36] #55 closed

[2020-01-28 20:55] Issif opened #57 "Add new gRPC API of Falco as Input source"
**Motivation**

Falco's last releases (since [0.18.0](https://github.com/falcosecurity/falco/releases/tag/0.18.0)) provide a new gRPC API to gather events.

**Feature**

Use this gRPC API as source of events.

**Alternatives**

N/A

**Additional context**

N/A

[2020-05-05 23:13] fujin opened #60 "Expose events as Prometheus metrics (counter)"
**Motivation**

I would like to use falcosidekick to expose metrics to Prometheus in the same manner as `falco-exporter`, which will allow me to use Grafana to visualize as well as create AlertManager rules based on the Prometheus data (e.g. statistical analysis of event count) as opposed to relaying Falco event payloads directly to AlertManager.

The reason I am looking at falcosidekick for this,

[2020-05-17 19:39] Issif commented on #60
@fujin I started to work on that feature.
With prometheus package, we need to set labels that will be used, in `falco-exporter`, we have `rule`, `priority` and `hostname`. I can't add `hostname` as the method for gathering events is different in `falcosidekick`, is that a problem for your use case?

[2020-07-01 14:01] leodido opened #63 "OWNERS file"
**What to document**

The OWNERS responsible of approving and reviewing the code changes in falcosidekick.

For sure the first one is @Issif

Would you suggest other maintainers?

I can volunteer for keeping an eye on it when I have some spare time, btw.

[2020-07-03 05:54] arminc opened #67 "Make the Helm chart available in Helm Hub"
**Motivation**

It would make sense to make the chart release so it can be available in the Helm Hub. This allows the project to be used without needing the GitHub project or having to copy the current deployment Helm files in this repo.

**Feature**

Chart available in Helm Hub.

[2020-07-03 14:42] #63 closed

[2020-07-03 16:10] Issif commented on #67
Hi @arminc

I agree the helm chart could (should) be outside that repo, even if it's convenient for me for maintenance.

Maybe you don't know, but we decided to extract falc helm chart from hub lately, the up to date version is now here : https://github.com/falcosecurity/charts

To keep a coherance, I prefer to use this repo for falcosidekick too.

[2020-07-03 16:10] Issif commented on #67
/assignee @Issif

[2020-07-05 11:47] arminc commented on #67
Just to be clear I didn't ment to add the chart to https://github.com/helm/charts/tree/master/stable. It is fine to keep the chart in this repo but it should be released, like the Falco chart so it can be used directly with helm. But it stil makes sense to add the Helm chart repo to http://hub.helm.sh so it is easier to be found

[2020-07-29 08:45] usamaahmadkhan opened #70 "Alertmanager forwarder throws x509: certificate signed by unknown authority"
**Describe the bug**
I'm trying to forward falco alerts to Alertmanager which is running an SSL proxy sidecar. This sidecar allows to only communicate via HTTPS. A custom CA cert is being generated and used by Alertmanager.

When FalcoSideKick tries to forward alert to Alertmanager it throws the following error:
[code]

**How to reproduce it**
Use an Alertmanager with SSL enabled generated via cus

[2020-07-29 12:25] Issif commented on #70
Hi,

Thanks for your issue. I confirm SSL communication with custom cert is not possible yet. I don't have time for doing so right now, but I'll take a look for sure.

[2020-07-30 08:58] usamaahmadkhan commented on #70
@Issif What needs to be done? Maybe I can submit a PR

[2020-07-30 09:17] Issif commented on #70
I think we need to figure out how to make possible to specify custom CA certs, but it should be a global parameter, not only for one output. Feel free to propose something of course, I'll review it for sure.

[2020-07-30 09:22] usamaahmadkhan commented on #70
Different outputs may serve different custom CA certs. so configuring globally might not be a good approach. We can start by adding one for Alertmanager, test it, verify and then add for other outputs

[2020-07-30 09:25] Issif commented on #70
I thought about a global folder with all custom CA.

[2020-07-30 09:51] usamaahmadkhan commented on #70
Yes that would work. So mounting the CA cert via a secret on directory `/usr/share/ca-certificates/ca.crt`,  and running `update-ca-certificates` should do the trick. Not sure if it will respect the server name field for the certificate.

[2020-07-30 20:42] Issif commented on #70
@usamaahmadkhan can you test on your side? I would like to avoid to create a CA and cert.

[2020-07-31 09:14] leogr commented on #67
Since https://github.com/falcosecurity/charts has been included in the Helm Hub ( see https://github.com/helm/hub/pull/409 ), once this chart is moved to https://github.com/falcosecurity/charts then it will be automatically listed on the hub.

[2020-07-31 18:30] Issif commented on #67
@nibalizer is working on a new output, `Discord`, when it will be merged, I will release a new version of `falcosidekick` and according helm chart will be in the global repository

[2020-08-03 09:54] jonny-wg2 commented on #60
For me, I am using falcosidekick as the sole alerting for falco. If this component goes down and I am not aware of this, I could miss important security alerts.

Thus, it would be great to have at least an endpoint to know if it's working and properly configured, as well as, a record for previously fired events would be awesome.

[2020-08-03 10:41] Issif commented on #60
You can call `/ping` to know if `falcosidekick` is up and running. This endpoint is already used for `readiness` and `liveness` probes.

For previous events, I always wanted to create a simple proxy, with no data retention, my guess was it's more on falco's side to bufferize.

For prom metrics, I'll add a stats for each output, with `0` or `1` depending if the output is enabled or not. A "not" may

[2020-08-04 13:25] usamaahmadkhan commented on #70
ok I will test as soon as I find some free time.

[2020-08-12 18:44] Issif commented on #67
@arminc enjoy : https://hub.helm.sh/charts/falcosecurity/falcosidekick

[2020-08-12 18:44] #67 closed

[2020-09-03 13:54] epcim opened #77 "Alertmanager output - Header missing (400)"
**Describe the bug**

Alerts are not sent, not enough log details about actual bug. Additionally this raises we shall export prometheus metrics about recieved/sent events and health state, as suggested in: https://github.com/falcosecurity/falcosidekick/issues/60
[code]

Caused by:

[code]

Will provide MR with fix.

[2020-09-03 13:59] epcim commented on #60
I would like to see sidekick would expose it's metrics about its state/outputs performance, error rate on its own.

[2020-09-03 19:16] Issif commented on #60
@epcim That's exactly what I would like to do for next release. Currenlty I'm currently moving, no time to spend on falcosidekick but I will do for sure.

[2020-09-03 19:18] Issif commented on #77
Ok I see the what issue it is. Will fix it asap if you don't.

[2020-09-13 19:10] Issif commented on #77
Can we close this issue as #78 as been merged?

[2020-09-13 19:12] Issif commented on #70
@usamaahmadkhan have you moved forward with your tests?

[2020-09-13 21:00] epcim commented on #77
Yes, closePetr Michalec+420734420347petr@apealive.netOn 13 Sep 2020 21:11, Thomas Labarussias <notifications@github.com> wrote:
Can we close this issue as #78 as been merged?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-14 07:19] Issif commented on #77
👍

[2020-09-14 07:19] #77 closed

[2020-09-23 10:29] Issif opened #83 "Add Authorization header in Webhook output"
**Motivation**

Add `Authorization` header for `Webhook` output.

**Feature**

This header is mandatory for some services.

**Alternatives**

N/A

**Additional context**

See: https://github.com/falcosecurity/falco/issues/1322

[2020-09-24 07:54] #5 closed

[2020-10-27 11:01] #60 closed

[2020-10-30 23:11] Issif commented on #83
#92

[2020-10-30 23:11] #83 closed

[2020-11-10 15:52] pyaillet opened #96 "Missing CONTRIBUTING.md"
Hi !

Thank you all for bringing falco to the community.

I opened a PR on the project and saw that the PR template reference a CONTRIBUTING.md that doesn't exit on the repository.
Could it be copied from this : https://github.com/falcosecurity/.github/blob/master/CONTRIBUTING.md ?

[2020-11-15 18:48] Issif commented on #96
That's a fair point, we need to discuss about, the main `CONTRIBUTING.md` has some parts (C++ guidelines) which are really focused on `falco`

[2020-11-18 13:22] poiana commented on #35
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-18 14:44] KeisukeYamashita opened #102 "Add Google Chat support"
**Motivation**

Google Chat(former Google Hangout Chat) adoption is increasing these days.

**Feature**

Send notification like Slack and Mattermost

**Alternatives**

**Additional context**

May I add this feature?
I would like to contribute.

[2020-11-18 15:07] Issif commented on #102
@KeisukeYamashita Thanks for idea. I like it.

If you feel to contribute, I'll be glad to review your PR 👍

[2020-11-19 09:49] #102 closed

[2020-11-19 13:23] poiana commented on #33
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 13:23] poiana commented on #46
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 13:23] poiana commented on #8
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 13:23] poiana commented on #57
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 13:51] KeisukeYamashita opened #120 "Support GCP Cloud Functions and Cloud Run"
**Motivation**

I am a heavy user of GCP and also serverless products(Cloud Functions & Cloud Run).

Many documents use Cloud PubSub + Cloud Functions(Playbook). But we must treat the event messages with care because Cloud PubSub message semantics are **at least once** and there might be duplicated messages.

Therefore, the backend Cloud Functions or the Cloud Run has to handle the duplication and

[2020-11-21 15:40] Issif commented on #120
👍

[2020-11-22 12:33] KeisukeYamashita commented on #120
I found out that if the client is out of GCP, it's hard to issue a OAuth ID Token for Cloud Run and Cloud Function....
It requires self-signed private key, etc and I don't think it will be user friendly.

I will close this Issue for now. Please feel free to reopen 🙇

[2020-11-22 13:02] #120 closed

[2020-11-22 14:44] Issif commented on #120
Is that an issue we may face with PubSub too? Does it worth to specify it in read me?

[2020-11-23 12:50] KeisukeYamashita commented on #120
No, this issue is only happens for [Cloud Function](https://cloud.google.com/functions), [Cloud Run](https://cloud.google.com/run) or [Cloud IAP](https://cloud.google.com/iap) protected GCP backends.
This is because it uses OAuth2.0 or Open ID connect authn which requires complicated workflow to issue an ID token 😢

I think if there are more request adding this feature, I can go on. I'll see how i

[2020-11-23 16:43] cpanato commented on #46
/assign

[2020-11-23 16:52] cpanato commented on #46
/remove-lifecycle stale

[2020-11-23 21:45] Issif commented on #120
Ok, thanks for the details.

If someone asks for, we'll refer to this issue.

[2020-11-23 21:46] #96 closed

[2020-11-27 11:15] #46 closed

[2020-12-03 20:40] Issif commented on #33
I close this issue, as helm chart is not anymore in this repo. I someone needs this feature, please create a new issue in : https://github.com/falcosecurity/charts

[2020-12-03 20:40] #33 closed

[2020-12-04 11:33] KeisukeYamashita opened #134 "Migrate Slack attachments to block kit"
**Motivation**

Slack Attachments are now legacy way to post rich messages to Slack. The next generation is [Block Kits](https://api.slack.com/block-kit).
Not only it is legacy, Attachments has limit that the emojis are displayed as "emojis" like below and kinda ugly now(See `:true:` emoji):

![image](https://user-images.githubusercontent.com/23056537/101158841-c5a31080-366f-11eb-81bb-ee4e87919fa7

[2020-12-04 12:55] Issif commented on #134
@KeisukeYamashita I don't know why we may disagree ^^

Slack was the first of all ouputs, I created `falcosidekick`, because I disliked the format with the example given in documention.

I'll help you with that output if you want, we must not loose a feature or break something, it's used a lot.

[2020-12-09 12:27] KeisukeYamashita commented on #134
I found that the messages with block kit is not rich...

[This](https://app.slack.com/block-kit-builder/T0256J926#%7B%22blocks%22:%5B%7B%22type%22:%22section%22,%22text%22:%7B%22text%22:%22A%20message%20*with%20some%20bold%20text*%20and%20_some%20italicized%20text_.%22,%22type%22:%22mrkdwn%22%7D,%22fields%22:%5B%7B%22type%22:%22mrkdwn%22,%22text%22:%22*fd.name*%22%7D,%7B%22type%22:%22mrkdwn%22,%22

[2020-12-09 12:48] Issif commented on #134
@KeisukeYamashita I don't have access to your Slack, please share a screenshot.

If we lose features with block kit, I don't think it's a good idea to migrate. I like the style of current notifications in Slack

[2020-12-09 14:38] KeisukeYamashita commented on #134
Sorry for that.

![image](https://user-images.githubusercontent.com/23056537/101643475-86156380-3a77-11eb-94db-7f9b944952fe.png)

Block kit can create only simple messages with no color or attachments....
I think it's not worth migrating to block kit. I will close this 🙇

[2020-12-09 14:38] #134 closed

[2020-12-09 14:42] Issif commented on #134
I agree. Thanks your idea and your tests.

[2020-12-11 08:43] cpanato opened #137 "replace https://github.com/confluentinc/confluent-kafka-go"
**Motivation**
The current library that we are using for kafka (https://github.com/confluentinc/confluent-kafka-go) introduces a dependency to a C library on all Go code that uses the package, and make the build a bit complex.

Since we don't use advanced features for kafka and we "just" post a message, maybe we can switch to use another lib like
 https://github.com/segmentio/kafka-go

[2020-12-11 08:43] cpanato commented on #137
i will work on the replacement
/assign

[2020-12-11 08:54] Issif commented on #70
Without any answer soon, I'll close this issue. Regards.

[2020-12-11 13:24] cpanato opened #140 "replace lib log to logrus or other logging library"
**Motivation**
using another logging library like logrus we can use some features, like enable log level and other things and not need to write the type of the log by hand as we do today.

since this can be a breaking change for people that are parsing the logs and the format will change a bit we can make a major release

/milestone 3.0.0

[2020-12-12 14:23] #137 closed

[2020-12-12 14:26] Issif opened #142 "Add unit tests for all outputs"
**Motivation**

`Falcosidekick` is used more and more, and even if we review all PR, we faced some regressions in code base. For avoiding to impact customers, we need to implement unit tests for every outputs, not only the most used.

**Feature**

A good test framework
Unit tests for all outputs

**Alternatives**

N/A

**Additional context**

N/A

[2020-12-12 19:04] Issif opened #144 "Missing metrics for statds/dogstastd"
**Describe the bug**

Several outputs are not configured for updating metrics for statsd/dogstatsd :
- alertmanager
- azure event hub
- datadog
- discord
- elasticseearch
- google chat
- influxdb
- loki
- mattermost
- opsgenie
- rocketchat
- slack
- teams
- webhook

**How to reproduce it**

**Expected behaviour**

All outputs should export their metrics

**Screenshots**

**Environment**

All relea

[2020-12-13 08:54] cpanato commented on #144
/assign

[2020-12-16 14:04] jasiam opened #161 "Add route logic in config yaml"
**Motivation**

In any PaaS/SaaS running falco, as a cluster-admin I want to see all falco-events, but as a tenant-admin (client with admin permissions over specific resources) I only want to see falco events related to my tenant (i.e events in my k8s namespaces if we are taking about k8s)

This can be achieved using software like Prometheus, AlertManager, OpsGenie... but it would be great if falc

[2020-12-17 21:31] Issif commented on #161
Hi,

It's a good idea but it needs a lot of reflexion. It implies several things:

- the fields depend of messages, so they're not always present
- conditionnal outputs means we need several instances of each outputs (e.g, a Slack for A, another for B, etc)
- we need to integrate a complete logic (AND, OR, NAND, NOR) and it's a big

An idea I had for solving the first is to chain several falcoside

[2020-12-19 09:33] poiana commented on #35
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 11:30] Issif commented on #144
thanks @cpanato

[2020-12-22 11:30] #144 closed

[2020-12-23 12:03] KeisukeYamashita opened #163 "Suppor PagerDuty as output"
**Motivation**

In my company, we use PagerDuty as a pager system.
If there are high-level priority detection, I want to get a call.

**Feature**

Page Pagerduty team if the output of Falco is higher than the minimunpriority.

**Alternatives**

**Additional context**

[2020-12-23 14:19] Issif commented on #163
I know the tool and their API but I don't use it anymore (OpsGenie now), I can review if you submit something.

Thanks

[2020-12-23 14:20] KeisukeYamashita commented on #163
Okay, I will raise a PR.
I wanted to confirm to you before doing something. Thanks!🙏

[2020-12-23 14:28] Issif commented on #163
I'll never refuse a new output, as long it makes sense for people. 😉

[2020-12-24 15:09] #163 closed

[2020-12-28 03:35] poiana commented on #57
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-28 03:35] poiana commented on #8
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-01-08 20:06] Issif opened #168 "Migrating Documentation into Falco.org"
**What to document**

As `falcosidekick` is becoming bigger and bigger, the documentation can't be only in a long readme. I would like to create a dedicated section in documentation of falco.org that will be easier to read. The readme here will only been a description and links to according section in official documentation.

[2021-01-18 09:38] poiana commented on #35
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-18 09:38] #35 closed

[2021-01-18 09:38] poiana commented on #35
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/35#issuecomment-762120458):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-27 11:47] alsm opened #176 "Alertmanager forwarder only add fields for string values."
**Motivation**

I'm using falco to capture events where some of the fields values are numbers (network ports) and would like that information in the alertmanager alert fields

**Feature**

Currently anything not a string is ignored, for at least integer values it should be simple enough to convert to a string and add to the alert labels.

Assuming this is accepted I'm happy to make a PR for it.

[2021-01-27 13:36] Issif commented on #176
Hi @alsm

I'm totally OK with that, please propose a PR or I'll do it myself if you can't.

[2021-01-27 14:57] poiana commented on #8
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-27 14:57] poiana commented on #57
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-27 14:57] #57 closed

[2021-01-27 14:57] #8 closed

[2021-01-27 14:57] poiana commented on #57
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/57#issuecomment-768341908):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2021-01-27 14:57] poiana commented on #8
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/8#issuecomment-768341918):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-

[2021-01-28 15:05] #176 closed

[2021-01-31 15:47] Rajakavitha1 opened #178 "Falcosidekick does not notify on slack Webhooks when it is installed using Helm"
**Describe the bug**

Falcosidekick does not notify on slack Webhooks when it is installed using Helm
**How to reproduce it**

1. Create a K3s cluster
2. Install Falco and Falcosidekick using Helm: helm install falco falcosecurity/falco -n falco --set falco.jsonOutput=true --set falco.jsonIncludeOutputProperty=true --set falco.httpOut.enabled=true --set falco.httpOutput.url=http://falcosidekick:28

[2021-01-31 16:04] Issif commented on #178
We made some tests with @balasu, I figure out what the issue, I'll propose an PR asap

[2021-01-31 16:26] Issif commented on #178
The issue is related to the helm chart for `Falco`, here the PR which will fix it https://github.com/falcosecurity/charts/pull/178

[2021-01-31 18:10] Issif commented on #178
It's fixed now https://github.com/falcosecurity/charts/pull/178

Thank you for your help 🙏

[2021-01-31 18:10] #178 closed

[2021-02-01 03:30] Rajakavitha1 commented on #178
Thanks @Issif  and @balasu!!! I now get notifications on slack with: helm install falco falcosecurity/falco --set falco.jsonOutput=true --set falco.jsonIncludeOutputProperty=true --set falco.httpOut.enabled=true --set falco.httpOutput.url=http://sidekick:2801 --set falcosidekick.config.slack.webhookurl=https://hooks.slack.com/services/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 --set falcosid

[2021-02-06 19:49] fjogeleit opened #181 "Log pushes for Kubernetes Audit Events to Loki are failing"
**Describe the bug**

I'm using falcosidekick to send host os events and Kubernetes audit events to Grafana Loki. If a host os rule is triggered, the event is send to Loki as expected. If I trigger a Kubernetes Audit Event the push to Loki failed with 400 - Header Missing.

Working example for Host Rule:

<img width="1547" alt="Bildschirmfoto 2021-02-06 um 20 32 53" src="https://user-images.github

[2021-02-08 11:24] #181 closed

[2021-02-08 11:39] fjogeleit commented on #181
@Issif just as verification, its working now with the latest image

<img width="1702" alt="Bildschirmfoto 2021-02-08 um 12 38 35" src="https://user-images.githubusercontent.com/16627596/107214735-a1b2d100-6a0a-11eb-9487-765d733f1a9b.png">

[2021-02-10 04:05] Rajakavitha1 opened #188 "Unable to add more than one custom field with Helm"
**Describe the bug**

**How to reproduce it**

Install Falcosidekick with Helm and add more than one custom fields.
<img width="1110" alt="Screenshot 2021-02-01 at 8 11 37 PM" src="https://user-images.githubusercontent.com/37059749/107462991-4ce69600-6b83-11eb-98d4-ef219518b8e4.png">

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or ha

[2021-02-10 07:31] Issif commented on #188
Thanks @Rajakavitha1

This issue comes from helm templating, to solve it, you have to escape the comma: `--set falcosdeikick.config.customfields="environment:production\,datacenter:mumbai"`

I already added in my WIP PR for next helm chart release.

👍

[2021-02-12 21:31] Bfoster-melrok opened #190 "Add tls support for SMTP output"
As an office 365 user, I'd like to be able to configure falcosidekick to send emails on my behalf for notifications

Currently, there are not any documented configs for enabling tls or smarttls for SMTP output. which is required for using office 365's SMTP servers.

I'd like to add an option to enable tls for smtp output

[2021-02-12 21:55] Issif commented on #190
Hello @Bfoster-melrok,

I developped this output for a while now. I tested with AWS SES and I guess it worked with SMTP with SSL. Have you tried to use port 587 with O365?

I don't have an O365 but I can try with a Gmail account.

Thanks for your issue. We'll find out how to help you and make falcosidekick a better product.

[2021-02-15 16:53] Bfoster-melrok commented on #190
Yes, I set:
SMTP_HOSTPORT=smtp.office365.com:587
SMTP_MINIMUMPRIORITY=warning
SMTP_FROM=valid email
SMTP_USER = valid email
SMTP_PASSWORD = matching valid password
SMTP_TO = valid email

but I am not seeing any emails after running the event generator, while seeing them on other outputs.
In the logs I see:
2021/02/14 08:00:41 [ERROR] : SMTP - template: html:3:10: executing "html" at <eq .Priority

[2021-02-16 09:44] Issif commented on #190
The first issue is not related to TLS but templating, I'll take a look. Thanks you.

For your TLS issue, I noticed in several answers on web that people was only able to send emails to `smtp.office365.com:587`, can you give it a try?

[2021-02-16 17:21] Bfoster-melrok commented on #190
I am using that host and port already.

I think it has something to do with this:
https://support.microsoft.com/en-us/office/outlook-com-no-longer-supports-auth-plain-authentication-07f7d5e9-1697-465f-84d2-4513d4ff0145?ui=en-us&rs=en-us&ad=us

https://stackoverflow.com/questions/42305763/connecting-to-exchange-with-golang

[2021-02-16 19:04] Issif commented on #190
Ok I see. Fortunatly, the package I used handles both methods for authentication. I'll create a dedicated output for O365 and see asap for the templating issue.

Thanks. 👍

[2021-02-16 22:37] Issif commented on #190
@Bfoster-melrok

It should be ok soon for the issue with templating, see #191

<img width="923" alt="image" src="https://user-images.githubusercontent.com/4520100/108130330-c9abcf80-70af-11eb-92fe-9a1187a19ca7.png">

For O365, I need dig more, I need to find a way to test.

[2021-02-16 22:46] Bfoster-melrok commented on #190
sounds good. Thanks for taking a look at this.

[2021-02-18 20:05] Issif commented on #190
@Bfoster-melrok I started a branch for fixing your issue. Can you build or do you want a docker image?

I added an option for `SMTP` output: `autmethod` which can be `plain` (default) or `login` (for O365)

[2021-02-19 18:48] Bfoster-melrok commented on #190
Thanks, I built it and tested it. I received emails this time, tho they were blank due to the templating issue.

[2021-02-19 18:57] Issif commented on #190
@Bfoster-melrok it should be ok now, I rebased on master for upgrade of Go version and I backported the fix for template.

[2021-02-24 09:13] evalsocket commented on #140
/assign @evalsocket

[2021-02-27 18:59] fjogeleit opened #196 "Using Resolver Pattern"
**Motivation**

Refactoring proposal for v3.x

**Feature**

Using the resolver pattern to manage the creation of different kinds of outputs in one place.

Using a generic Interface for output-clients to handle all outputs the same way.

**Alternatives**

**Additional context**

example implementation https://github.com/fjogeleit/policy-reporter/blob/main/pkg/config/resolver.go

[2021-03-02 14:12] caWhite opened #197 "Refactor PagerDuty output to use Events v2 API"
**Motivation**

PagerDuty's [API documentation](https://developer.pagerduty.com/docs/rest-api-v2/rest-api/) states that the Events v2 API should be used by monitoring tools instead of the Rest API.

`
The REST API provides a way for third parties to connect to a PagerDuty account and access or manipulate configuration data on that account. It is not for connecting your monitoring tools to send eve

[2021-03-03 06:15] KeisukeYamashita commented on #197
I didn't know that.

It makes sense, could you submit a PR 🙏  I can review. Thanks in advance.

[2021-03-04 09:43] #197 closed

[2021-03-06 18:26] mike-stewart opened #203 "Slack Output w/ SLACK_OUTPUTFORMAT of "fields" same as "all""
**Describe the bug**

It appears that the behaviour of setting SLACK_OUTPUTFORMAT = 'fields' is the same as SLACK_OUTPUTFORMAT = 'all'.

The [README indicates](https://github.com/falcosecurity/falcosidekick#slack) that setting `SLACK_OUTPUTFORMAT = 'fields'` should result in only fields being added to the Slack attachment, with no text blob. This does not work.

I think this was a regression intro

[2021-03-07 08:27] cpanato commented on #203
thanks @mike-stewart for the report, I will try to reproduce and fix it.

[2021-03-08 17:23] #203 closed

[2021-03-11 09:08] poiana commented on #70
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-03-12 15:08] poiana commented on #142
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-03-16 13:11] juris opened #211 "SLACK_OUTPUTFORMAT=fields has no effect"
Falcosidekick 2.21.0 -- changing outputformat from default value (all) to "fields" does not change anything. Slack alerts still have text section.

[2021-03-17 21:42] poiana commented on #161
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-03-23 12:55] Annegies opened #214 "Prometheus metric labels"
We are using Falco-exporter for prometheus metrics and Falco sidekick for it's AWS integration. But since Falco sidekick also exposes the falco_events metric we could use that and stop running Falco-exporter. But the metric from Falco sidekick is missing some essential labels like `k8s_pod_name` and `k8s_ns_name`.

Is it possible to add the same labels as in Falco-exporter?

[2021-03-26 12:34] Issif commented on #190
@Bfoster-melrok without any answer from you, I'll consider this issue as fixed and I'll close it soon.

[2021-03-26 14:17] Bfoster-melrok commented on #190
Yes this can be closed. thank you.

[2021-03-26 15:56] #190 closed

[2021-04-05 15:49] mike-stewart commented on #211
Dupe of #203?

[2021-04-05 15:51] mike-stewart commented on #211
@cpanato @Issif Is there an upcoming release planned that will include the fix for this from master?

[2021-04-05 16:00] fjogeleit commented on #211
We are planning the next release this week.

[2021-04-06 12:34] Issif commented on #214
Hello,

There was an issue with these labels, we fixed it and it will be available in upcoming release: https://github.com/falcosecurity/falcosidekick/blob/94fb46953627111e18b06b01d892d91d96807dd1/stats_prometheus.go#L45

[2021-04-06 12:45] Issif commented on #211
#203 fixes this issue

[2021-04-06 13:42] jasiam opened #216 "Add Mutual TLS support as global configuration"
**Motivation**

Several outputs may require some kind of authentication most of the times (e.g: an open "elasticsearch" or "kafka" is not a good idea in most of production environments)
I understand implement all types of authentication supported in every output is not practical, but maybe add mutual TLS support would be a nice feature to add to falcosidekick as a global configuration, since it's

[2021-04-07 07:59] Annegies commented on #214
Neat! I actually forgot to update the issue. The labels on audit events are different from other events, they don't have the k8s.pod.name and k8s.ns.name fields so the metrics end up without any specification to which pod/resource.

And i was comparing metrics from audit events with the metrics from falco-exporter.
Also in falco-exporter the metrics for audit events lack labels

[2021-04-07 10:31] Issif commented on #211
We released 2.22.0 yesterday with the fix

[2021-04-07 10:31] #211 closed

[2021-04-07 10:35] Issif commented on #214
These labels are not present in event from `falco`, for some rules we have `ka.target.namespace`, we might consider to add them.

[2021-04-07 18:02] jonahjon opened #219 "AWS Output's don't work with IAM Role Service Accounts."
[code]

**Describe the bug**

FalcoSidekick's AWS Cloudwatch output doesn't work with IRSA (IAM Role Service Accounts).

**How to reproduce it**
[code]

**Expected behaviour**

It would pull the role credentials from the SA not from the node role.

**Version

Falco sidekick helm chart install.

[2021-04-08 17:55] mercion opened #221 "Support AWS Kinesis as an output"
**Motivation**

We use AWS kinesis to agregate data and it would be great if the falcosidekick could also natively put to Kinesis.

**Feature**

Add Kinesis as an AWS output option

**Alternatives**

Today we are writing lambdas to take stuff off SQS and push to kinesis, natively pushing to kinesis would make this a lot simpler and portable.

[2021-04-08 17:56] mercion commented on #221
Happy to do the work for this, if folks think this is a good idea.

[2021-04-08 17:59] mercion opened #222 "Support Webex Teams as an output"
**Motivation**

We seem to have a bunch of output plugins for slack, Microsoft teams etc but were missing Webex Teams as an output plugin.

**Feature**

New output plugin that pushes to webex teams in a similar manner to Microsoft teams.
https://www.webex.com/team-collaboration.html

**Alternatives**

Could use the HTTP webhook outputs but that really limits rich messages and requires a proxy in t

[2021-04-08 17:59] mercion commented on #222
happy to do the work for this one as long as folks think that this is a good idea

[2021-04-08 21:54] poiana commented on #168
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-09 05:15] jonny-wg2 opened #223 "Slack output: Ordered fields"
**Motivation**

As reviewing falco events in slack using falcosidekick, I find it difficult to quickly analyze and compare the results from one event to the next. The reason being, I noticed that some fields are consistent in location while others always move and my mind was playing trickery.

In the example below, you can see that the `time` field is consistently on the bottom (which is great bec

[2021-04-09 14:20] Issif commented on #168
/hold

[2021-04-10 10:16] poiana commented on #70
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-04-10 12:17] Issif commented on #70
I got no awsner, I'm closing this issue.

[2021-04-10 12:17] #70 closed

[2021-04-10 12:20] Issif commented on #223
Hello I get your point, I'll try some `sort` but I don't know if we have to "highlight" some fields.

[2021-04-11 15:44] Issif commented on #223
I was able to get that order, it's kept for all messages. wdyt?

![image](https://user-images.githubusercontent.com/4520100/114311070-8ab55b80-9aed-11eb-89d6-2c1240de70e5.png)

[2021-04-11 16:16] poiana commented on #142
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-04-11 16:16] Issif commented on #142
/hold

[2021-04-12 07:33] jonny-wg2 commented on #223
@Issif This is super awesome!

I could also see this being helpful for teams, discord etc output where a column output is provided.

[2021-04-12 07:54] Issif commented on #223
@jonny-wg2 yes, I'll replicate that for all "instant messages" outputs

[2021-04-12 09:48] jonny-wg2 opened #224 "Route events to multiple slack channels"
**Motivation**

Background:

One of the most common rules we have alerts on is `Terminal shell in container`. We really like this rule as it is an audit log of when a user accesses a k8s container.

While this rule is not  "security alert" which requires action, it is more of an "audit alert". E.g. `Terminal shell in container` is not the same severity as say `Delete Bash History` or `Unexpected o

[2021-04-12 12:12] william-salt-cko opened #225 "dogstatsd output does not work"
**Describe the bug**

When you try to configure dogstatsd forwarder, the the client errors on creation as it uses the normal statsd forwarder, which does not exist.
You can see this here
https://github.com/falcosecurity/falcosidekick/blob/1a7d7c790c9dc04f3efae9a2893fd129fb9c3519/outputs/statsd.go#L14
If you set both the dogstatsd forwarder and statsd forwarder in the config, falcosidekick panics.

[2021-04-12 21:45] Issif commented on #225
Hello,

You're right, I noticed several issues with that output, I submitted a PR for fixing it: #227

Do you want a docker image for testing the fix?

[2021-04-13 09:55] willejs commented on #225
Thanks @Issif I was about to make a similar PR this morning! In the meantime, I have switched to stated to a datadog forwarder and made this PR to fix the chart too.
https://github.com/falcosecurity/charts/pull/212

Hopefully, we can get both merged 🙂

[2021-04-13 10:19] Issif commented on #225
Thanks for the fix, and I like the tip with `checksum/config` for redeploying pods when `secrets.yaml` changes.

Another PR will have to be submitted for bumping up the dependency of `falco` chart https://github.com/falcosecurity/charts/blob/52e38480f85ee5cb8cb5048531c23db1db9b8007/falco/Chart.yaml#L22

[2021-04-14 14:22] serxansherif opened #230 "Integration with the Azure Event Hub"
I want to send logs to the Azure Event Hub. I executed the following command when I installed Falco, I get the below error in the container.

**Command**
_helm install falco falcosecurity/falco
--set falcosidekick.enabled=true
--set falcosidekick.webui.enabled=true
--set falcosidekick.config.azure.subscriptionID="lkjkljj-kjkj-llklk-8c4601adba21"
--set falcosidekick.config.azure.resourceGroupName="

[2021-04-14 14:23] william-salt-cko commented on #225
Yeah, i was trying to figure out what was going on and kept having to kill pods 😆
Do you think you could cut a release of this project? I think this is fixed now 🎉

[2021-04-14 14:58] Issif commented on #225
This is a bug fix, will do before end of the week.

[2021-04-15 14:59] Issif commented on #223
I'm closing this issue, the PR has been merged and the fix will be in next release.

[2021-04-15 14:59] #223 closed

[2021-04-15 15:08] jonny-wg2 commented on #223
Woot woot thanks @Issif can't wait to test it out

[2021-04-15 18:24] Issif commented on #222
Hello @mercion I support every new output, feel free to propose a PR, we'll review it for sure. Thanks.

[2021-04-15 18:27] Issif commented on #214
audit logs have a different format, and labels which appear in falco events depends of fields used in the output of the rule.

[2021-04-15 18:29] Issif commented on #221
As we already support various AWS Services, it should be easy to integrate a new one, feel free to propose a PR. Thanks.

[2021-04-15 18:46] Issif commented on #214
@Annegies I forgot to mention it in 2.22.0 release, but it should be fixed now. Rules which use `k8s.ns.name` and `k8s.pod.name` in their outputs, will have these labels in Prometheus metrics.

See https://github.com/falcosecurity/falcosidekick/blob/94fb46953627111e18b06b01d892d91d96807dd1/handlers.go#L109

Tell me if everything works as expected for you. 🙏

[2021-04-15 19:14] #188 closed

[2021-04-15 19:18] Issif commented on #230
Hello,

I didn't developed this output myself and don't know Azure, I asked to the person who integrated it to help us with.

[2021-04-15 19:23] Issif commented on #224
Hello,

This is a request we already had. I understand the need but it means a lot of changes.

[Here my answer last time](https://github.com/falcosecurity/falcosidekick/issues/161#issuecomment-747714289)

A solution could be to use one the available FaaS Outputs (`Kubeless`, `OpenFaas`, `Knative (Cloud Events)`, `AWS Lambda`) and code yourself the logic.

[2021-04-19 18:03] arminc commented on #230
It's been a while but we ran using AzureIdentity and AzureIdentityBinding, the code basically assumes the credentials will be set by AKS. Behind this line of code there are couple of methods it tries to get the credentials: https://github.com/falcosecurity/falcosidekick/blob/1963830d4e3e21799a2e49e071eb8ff4acedb093/outputs/azure.go#L32

[2021-04-21 15:40] motikan2010 opened #234 "Don't work output S3 when "S3 - Default encryption" setting is disabled"
**Describe the bug**

The below error has occurred when output AWS S3.
 `panic: runtime error: invalid memory address or nil pointer dereference`

**How to reproduce it**

1. [Terminal A] Run falcosidekick on Docker.
[code]

2. [Terminal B] Send test request.
[code]

3. [Terminal A] An error has occurred
[code]

**Expected behaviour**

- Terminal
<img width="800" src="https://user-images.githubuse

[2021-04-30 12:32] #216 closed

[2021-05-09 16:25] poiana commented on #168
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-11 16:25] poiana commented on #142
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-05-15 22:26] poiana commented on #161
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-05-17 19:01] Issif opened #239 "Update Slack webhook to use block kit"
**Motivation**

**Feature**

Since few months, `Slack` has made evolved its templating system to use a new way to format webhook messages: https://api.slack.com/block-kit

To follow their evolution, being compliant and be able to add more features in future, I'm proposing to test this new integration.

**Alternatives**

Keep the current formating system

**Additional context**

`Mattermost` and `R

[2021-05-18 07:20] #219 closed

[2021-05-20 06:15] developer-guy opened #240 "[FEATURE] Add Google Cloud Cloud Functions as an output type"
**Motivation**

Cloud Functions is a scalable pay-as-you-go function as a service (FaaS) to run your code with zero server management. In Falcosidekick, there is support available for some Google Cloud services like Storage, Pub/Sub, etc. So, it would be nice to have if we add another Google Cloud service named Cloud Function as an output for the Falcosidekick.

**Feature**

As I mentioned above,

[2021-05-20 06:17] developer-guy commented on #240
cc: @cartyc @Issif

[2021-05-21 00:12] cartyc commented on #240
+ 1 for cloud run.

[2021-05-22 16:05] #240 closed

[2021-05-22 19:12] NissesSenap commented on #230
If you want to use azure eventhub with the current solution you will need to define 4 environment variables.

[code]
This you can do with with the current helm chart using

`config.extraEnv`

But the bad thing with that is that you have to send in your AZURE_CLIENT_SECRET when installing falco exporter and that isn't awsome from a security point of view. Especieally if you are using GitOps and don

[2021-05-26 22:08] poiana commented on #140
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-06-07 19:57] Issif commented on #234
This issue will be closed when I'll release the new version with #242 fix from @Kaizhe

[2021-06-08 19:58] poiana commented on #168
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-06-08 19:58] poiana commented on #168
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/168#issuecomment-857073866):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-06-15 02:03] poiana commented on #161
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-06-15 02:03] poiana commented on #161
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/161#issuecomment-861113789):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-06-19 09:09] distortedsignal opened #248 "DCO-error link could be more clear"
**Describe the bug**

**AS A** Developer who is new to Falco
**WHEN I** submit a PR that contains commits that ARE NOT signed with a DCO
**I WANT** a link to the best Contributing guide in the Falco Project.
**RIGHT NOW** The link in the DCO-error-message points to https://github.com/falcosecurity/falcosidekick/blob/master/CONTRIBUTING.md, and while that's a good document, it's not the best one in

[2021-06-26 19:57] poiana commented on #140
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-07-05 15:37] Issif commented on #234
The last release solves this issue 👍

[2021-07-05 15:37] #234 closed

[2021-07-14 20:03] poiana commented on #214
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-07-28 17:18] Kaizhe opened #257 "Support AWS IAM role association with falcosidekick service account"
**Motivation**

For falcosidekick sending Falco alerts to AWS (e.g. s3 bucket), originally we use `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`, however, it will be easier to manage AWS access through IAM role:

https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html

**Feature**

In `values.yaml` file:
Add fields `aws.account` and `aws.iamrole`.

In `templates/rbac.ya

[2021-07-28 18:46] #257 closed

[2021-07-28 18:46] Kaizhe commented on #257
wrong place

[2021-07-28 18:55] Issif commented on #257
no problem 😉

Anyway, you can take a look at #220, @jonahjon is adding authentication with IRSA

[2021-08-03 12:34] nar3k opened #258 "Support Yandex.Cloud outputs"
**Motivation**

Yandex.Cloud users also want to use Falco.

**Feature**

[Yandex Cloud](https://cloud.yandex.com) has multiple services that can be output.  Most demanded output right now is [Yandex.Storage](https://cloud.yandex.com/en-ru/services/storage) which has S3 API and second one is to use Yandex.Cloud Logging ( which is in preview state)

**Alternatives**

One of the alternatives to modif

[2021-08-03 13:04] Issif commented on #258
Hello,

This is good idea, thank you. I don't know Yandex, but if there S3 service reproduces AWS service, you can take our integration as reference and just override the endpoint in config.
And you're right, it has to be a new separated output.

[code]

👍

[2021-08-04 11:55] nar3k commented on #258
Created PR for S3 , Cloud logging will be added later

[2021-08-05 11:26] gauravgahlot commented on #140
/assign

[2021-08-05 11:28] gauravgahlot commented on #140
@cpanato  @Issif Can I take this up if not taken already?

[2021-08-05 14:21] Issif commented on #140
@gauravgahlot This is not already taken but I wanted to have it (from me or else) for v3 release. It may change the log format and break indexation of logs for customers, I want to avoid that without bumping version. I don't know when we'll start on v3, I started to write a paper about I can share with everybody soon.

[2021-08-05 15:13] gauravgahlot commented on #140
@Issif Okay. I will be happy to help anyway I can. So, please do let me know.

[2021-08-05 20:52] dirien opened #262 "Support Kafka Rest Output"
**Motivation**

The Kafka REST Proxy provides a RESTful interface to a Apache Kafka cluster, making it easy to produce and consume messages, view the state of the cluster, and perform administrative actions without using the native Kafka protocol or clients.

**Feature**

Having a new Output of type `kafkarest` in addition to Kafka.

[code]

The `Content-Type: application/vnd.kafka.binary.v2+json`

[2021-08-08 19:54] poiana commented on #196
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-08 19:54] poiana commented on #224
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-11 19:33] #262 closed

[2021-08-12 18:56] #214 closed

[2021-08-20 20:43] poiana commented on #230
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-09-01 08:55] renehonig opened #273 "Kafka authentication/encryption"
**Motivation**

I would like to use the Falcosidekick Kafka output to communicate with a public Kafka endpoint. This does require authentication and encryption to secure the connection between Falcosidekick and the Kafka endpoint.

**Feature**
Enable authentication and encryption for Kafka in Falcosidekick. Mutual TLS seems to be a good choice, as it has already been implemented for many Falcoside

[2021-09-01 09:12] Issif commented on #273
@cpanato as you integrated the Kafka output, do you want/can to work on that? 🙏

[2021-09-02 07:41] cpanato commented on #273
@Issif yes i can take care
just need to read something about kafka auth and encrypt. @renehonig do you have any handy docs? :)

[2021-09-02 08:15] renehonig commented on #273
@cpanato , thanks for your quick response and help!

Here are some links that should get you started on Kafka security. Given that many other Falcosidekick outputs support mTLS, that might be a good place to start:
- official Kafka documentation: https://kafka.apache.org/documentation/#security
- good article about implementation Kafka security: https://rosowski.medium.com/kafka-security-fundament

[2021-09-02 08:16] cpanato commented on #273
thank you @renehonig

[2021-09-03 05:43] gauravgahlot commented on #221
@Issif may I take this up?

[2021-09-03 07:36] Issif commented on #221
of course, thank you 🙏

[2021-09-03 16:51] gauravgahlot commented on #221
/assign

[2021-09-04 20:15] poiana commented on #140
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-09-04 20:15] poiana commented on #140
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/140#issuecomment-913034669):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2021-09-07 20:17] poiana commented on #196
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-09-09 07:51] fjogeleit commented on #196
/remove-lifecycle rotten

[2021-09-10 15:27] dirien commented on #273
@cpanato, we could make also a little session togther. We use, for example most of the time SASL or client cert.

[2021-09-17 14:54] poiana commented on #248
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-09-17 15:38] distortedsignal commented on #248
/remove-lifecycle stale

[2021-09-17 18:09] Krishnacore opened #274 "Is it possible to run falco + sidekick + ui in docker-compose?"
I'm trying to get everything up via docker-compose. And every component works, but I don't see any messages from falco in the dashboard. It seems to me that the containers are not communicating with each other at all... Am I missing some additional configuration?

My docker-compose.yml
[code]

[2021-09-17 19:58] fjogeleit commented on #274
You have to set the `WEBUI_URL` env variable on falcosidekick to the falcosidekick-ui URL

[2021-09-17 20:07] Krishnacore commented on #274
Thank you! But now I get the following error:
`[ERROR] : WebUI - Post "http://localhost:2802": dial tcp 127.0.0.1:2802: connect: connection refused`
When I try something like:
`curl -sI -XPOST http://localhost:2801/test`
And it seems that sidekick is still not getting events from falco... Although I added everything necessary to falco.yaml

[2021-09-17 20:15] fjogeleit commented on #274
I think it should be http://falco-ui:2802 because docker-compose use the service name to resolve the IP.

[2021-09-17 20:25] Krishnacore commented on #274
Yes, you are right! Gosh, I spent so much time on this today!) Thank you so much!

[2021-09-17 20:27] fjogeleit commented on #274
Glad to help you

[2021-09-18 09:09] Issif commented on #248
Hello, I guess this setting is not directly linked to falcosidekick, but to whole organization. @leogr can you help us with that please? 🙏

[2021-09-18 09:11] Issif commented on #274
And you will have access to UI with this URL: http://localhost:2802/ui 😉

Thanks @fjogeleit

[2021-09-18 09:11] #274 closed

[2021-09-20 02:24] poiana commented on #230
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-09-20 06:40] leogr commented on #248
Hey @Issif

Unfortunately, this issue has not yet been fixed. Here is the full discussion :point_down:
https://github.com/falcosecurity/test-infra/issues/430

[2021-09-20 12:56] Issif commented on #230
/remove-lifecycle rotten

[2021-09-22 11:07] WaldoFR commented on #273
Hi, I did not see this issue but I had the same problem.

I did implement SASL + TLS here : https://github.com/WaldoFR/falcosidekick however it seems that the project kafka-go is not very resilient, I got two major issues :
- Topic autocreate has not been implemented :  https://github.com/segmentio/kafka-go/pull/700
- When a client is created, it try to interfer with all topics on brokers : https:

[2021-09-22 11:57] Issif commented on #273
@WaldoFR first implementation of kafka output by @cpanato used `confluent-kafka-go` but we switched to current library because we had trouble with the C libraries dependency. See #139

[2021-09-22 11:58] dirien commented on #273
@WaldoFR, Question would be, if confluent-kafka-go is compatible with other kafka services too? Like Strimzi or Avien...

[2021-09-24 08:43] renehonig commented on #273
@dirien, @WaldoFR , Thanks for your work on this issue. I think it is compatible with other Kafka distributions too. The readme says:

creators of Kafka, is building a [streaming platform](https://www.confluent.io/product/compare/)
with Apache Kafka at its core. It's high priority for us that client features keep
pace with core Apache Kafka and components of the [Confluent Platform](https://www.co

[2021-09-24 08:59] WaldoFR commented on #273
There is a PR https://github.com/segmentio/kafka-go/pull/700 in kafka-go module, it's not merged yet but it might solves both issues mentioned in my last post. I'm going to verify that today, if it solve both issues the best might be to keep this module to avoid new unexpected problems from an other module.

[2021-09-25 10:07] #258 closed

[2021-10-08 18:46] mac-chaffee opened #275 "Missing "Priority" in alertmanager notifications"
**Motivation**

When Falco sends alertmanager an alert, it looks like it doesn't include the "priority" field:
<img width="1149" alt="image" src="https://user-images.githubusercontent.com/7581860/136609601-a8eeed58-55ae-4984-a51b-040fa95b25fc.png">

That makes it difficult to route alerts to the right "receivers". For example, I'd like to send "warning" alerts to one notification system and "emerg

[2021-10-08 21:08] Issif commented on #275
Hello, you're right, I missed that, sorry. See [alertmanager.go#L77](https://github.com/falcosecurity/falcosidekick/blob/01b5d4eeee99950a3f611b9bfbc4ce08870d3ec7/outputs/alertmanager.go#L77).

It's not a big deal to add this, feel free to propose a PR for fixing it if you feel confident enough. Anyway, I'm planning to work soon on all outputs for adding `tags` (which are now included in events sin

[2021-10-08 21:31] #275 closed

[2021-10-29 19:49] jceresini opened #278 "Feature request: Support for heartbeat messages for outputs"
**Motivation**

We would like to send falco messages from multiple clusters to a SIEM. It would be nice if the SIEM could detect if we stopped receiving logs from a given cluster though (for example, if the cluster has an outbound firewall configured that breaks connectivity). We could configure the SIEM to alert if data isn't seen from a given cluster for a certain period of time, if we could gua

[2021-11-02 20:23] Issif commented on #278
Hello,

I don't like the idea to change the liveness probe, this is not its purpose but we can think about something else like you ask.

Heartbeats are a particular use case, I don't think we want to have it for all outputs. A dedicated output should be enough, I guess.

I'll add this in my todo for 2.25.0 and submit a proposal to community.

[2021-11-10 21:19] poiana commented on #222
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-11-18 11:11] mathildeHermet opened #280 "Alertmanager POST api endpoint should not be hardcoded"
**Motivation**

Alertmanager developped version 2 of its api. For the moment, it is still in development but it could become a standard in the future.
Therefore, Falcosidekick should not hardcode the endpoint of Alertmanager api and should propose a variable to configure it instead.

**Feature**

The solution is to simply create a variable for Alertmanager that allows to choose the version of Aler

[2021-11-19 12:51] #280 closed

[2021-11-28 03:14] poiana commented on #239
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-12-01 04:57] odidev opened #285 "Require image for ARM64 architecture."
Hi Team,

I am trying to use the falcosidekick image on arm64 platform but it seems it is not available for arm64.

I have successfully built the image for arm64 platform, using the command ` docker build -t image_name .`

I have made changes in config.yml file and Makefile and used Circle-CI to push images to docker hub.

**Commit Link** - https://github.com/odidev/falcosidekick/commit/9b3b8d22a2

[2021-12-01 10:05] Issif commented on #285
Hi,

You're the first one asking for an image for arm64, this is totally something we could have for next release. Please, share with us your PR. I checked your version, can you try to keep the build step inside the Makefile as much as possible.

[2021-12-01 16:29] cpanato commented on #285
@Issif I can work on that and make some tests

[2021-12-02 08:10] chlunde opened #286 "OpsGenie integration - "." in keys unsupported"
**Describe the bug**
Using `.` in extraProperties/keys in opsgenie means they are not directly available for templating in OpsGenie (i.e. `{{k8s.ns.name}}` does not work). Instead you have to use `{{extraProperties.substringBetween("k8s.ns.name=","}")}}` or `{{extraProperties.substringBetween("k8s.ns.name=",",")}}`

**How to reproduce it**

* Send webhook to opsgenie
* Try to use `{{k8s.ns.name}}`

[2021-12-02 08:14] chlunde commented on #286
https://github.com/falcosecurity/falcosidekick/blob/c02fdbb0124ab839aa01f5740ac38c05973f09b0/outputs/opsgenie.go#L21-L22

It might be enough to change `details[i] = ...` to `details[strings.ReplaceAll(i, ".", "_")] = ...`

[2021-12-04 17:22] cpanato commented on #286
/assign

[2021-12-05 14:42] #285 closed

[2021-12-05 14:43] #286 closed

[2021-12-08 09:39] poiana commented on #196
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-10 21:19] poiana commented on #222
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-12-19 09:45] poiana commented on #248
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-19 15:45] poiana commented on #230
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-20 09:09] leogr commented on #248
/remove-lifecycle stale

[2021-12-23 10:20] YuranFlow opened #297 "Falcosidekick caching"
**Motivation**

So I couldn't find anything about falcosidekick caching received data in the documentation.

I'd like to know if falcosidekick uses caching when one of the outputs isn't able to receive the logs (e.g. elasticsearch) and if not is anything related to caching on the roadmap for the future?

[2021-12-23 10:22] Issif commented on #297
Hello,

No caching for now, if one output is unavailable, an error message is printed and that's all. For now, nobody asked for that feature, and we may think about. What's your use case that implies to have it?

[2021-12-23 10:30] YuranFlow commented on #297
Does that mean, that the logs the falco instances have generated will be dropped if the output isn't available?

[2021-12-23 10:52] YuranFlow commented on #297
I work with a Security Information and Event Management solution and I'm currently testing my grounds with Falco. So it'd be nice that if for any reason elasticsearch is unreachable, the log data will still be received once it is up and running again.

[2021-12-23 18:28] Issif commented on #297
Exactly.

I get your point, that something we may think about for future.

[2021-12-28 03:28] poiana commented on #239
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-28 03:28] #239 closed

[2021-12-28 03:28] poiana commented on #239
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/239#issuecomment-1001849922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2021-12-29 19:50] Issif opened #298 "Add Tags and Source of Falco Events in all outputs"
**Motivation**

Since `Falco 0.30.0`, source and tags of rules are now part of event json. We need to add them in **every** outputs.

**Feature**

All outputs must be able to send tags and source as well in their payloads. For avoiding conflict, the option can be disabled per output, and we need to discuss if want it disabled by default.

**Alternatives**

**Additional context**

[2022-01-06 07:52] cpanato opened #300 "Sign release artifacts using cosign"
**Motivation**

The idea is to sign the release artifacts using [cosign](https://github.com/sigstore/cosign) when doing the release.

This is an initial step for a more secure release and lets the consumers have the ability to verify the release artifacts.

**Feature**

Our project already uses GoReleaser and that makes it easier to implement the signing part.

We need to decide where we will run

[2022-01-06 07:52] cpanato commented on #300
cc @Issif @leogr
/assign @cpanato

[2022-01-06 08:58] Issif commented on #300
I like the idea :+1:

I think we should use CircleCI too, for avoiding to mix the CI solutions and create complexity.

[2022-01-06 10:13] cpanato commented on #300
ok cool, i will work for circleci and ping @leogr to synchronize the secrets

[2022-01-07 15:30] poiana commented on #196
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-09 21:31] poiana commented on #222
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-01-09 21:31] poiana commented on #222
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/222#issuecomment-1008427752):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-01-14 09:58] poiana commented on #273
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-18 21:39] poiana commented on #230
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-20 16:56] leogr commented on #300
Hey @cpanato

I confirm I created the context on CircleCI and set the secrets. :)

[2022-01-20 16:58] cpanato commented on #300
thanks @leogr i will finish and push the PR

[2022-01-20 22:03] poiana commented on #221
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-31 10:50] saivenkateshedem opened #303 "Error event disappers in the falco dashboard"
**Error priority event is disapering after new event is added**

Whenever a new event is added in the dasboard error event is disappering

**How to reproduce it**
1) Enter into the container using kubectl exec command -> we will get alert in UI
2) Enter any apt command -> we will get error alert in falco UI
3)Close the shell and again execute the kubectl exec command -> now previous error alert is

[2022-01-31 11:24] Issif commented on #303
Hello,

this issue is more related to [falcosidekick-ui](https://github.com/falcosecurity/falcosidekick-ui). I worked one v2 with a totally different storage system (I'm using redis with redissearch module), it should improve a the UX by providing a real API with unlimited storage. For now, UI is not my top priority but we'll work on with @fjogeleit asap.

[2022-01-31 11:32] saivenkateshedem commented on #303
Hi @Issif
okay thanks...
one help..in dashboard it is showing only 200 events...how to show all events..is there any database we use for this.If yes can i know the steps...iam using helm charts for the falco and falcosidekick installation

[2022-01-31 11:35] Issif commented on #303
the current version keeps all events in memory, and the UI get them all at once, this is why we limited to last 200, for avoiding to explode the browser memory usage. The new version with redis is not ready at all, the backend seems OK but we need to rewrite the frontend totally. Until that, you can increase the number of events to keep by increasing the retention setting https://github.com/falcos

[2022-01-31 22:07] poiana commented on #278
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-02-02 08:02] r0binak opened #304 "PolicyReport output not working"
I set key --set policyreport.enabled=true and its now working

**How to reproduce it**

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware configuration:
- OS:

- Kernel:

- Installation method:

**Additional context**

[2022-02-02 09:43] Issif commented on #304
Hi,

I suppose you're installing Falcosidekick with Helm, but as long the release with this feature (2.25.0) will not be changed for managing this output.

[2022-02-02 23:55] r0binak commented on #304
ok. I wait this

[2022-02-03 19:27] Issif commented on #304
I'm closing this issue. If you need more, please open a new one in https://github.com/falcosecurity/charts

[2022-02-03 19:27] #304 closed

[2022-02-06 15:48] poiana commented on #196
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-02-06 15:48] #196 closed

[2022-02-06 15:48] poiana commented on #196
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/196#issuecomment-1030859240):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-02-06 17:18] tchellomello opened #305 "AlertManager - Bad Endpoint"
**Describe the bug**
Trying to find a good way to troubleshoot the integration with Alertmanager.

Falcosidekick throws the error below:

[code]

**How to reproduce it**

1 . Secret configured
[code]

2. Checking the deployment, we can see the variable worked as expected

[code]

It's is a valid namespace and service because if I create a new pod on the same namespace `auditing` it works.

[code]

[2022-02-07 11:14] Issif commented on #305
Hello,

Just to be sure before digging, have you tried with `ALERTMANAGER_HOSTPORT=`http://alertmanager-operated.observability.svc:9093`?

Thanks

[2022-02-07 16:40] tchellomello commented on #305
BOOM!! Man, I can't believe it was that!

[code]

![image](https://user-images.githubusercontent.com/809840/152831944-339f761b-e506-4272-bee9-06e5d1b80734.png)

Should we add a note in the documentation? I would be happy

[2022-02-07 16:54] Issif commented on #305
I'm happy it works now :+1:

Yes please, feel free to propose an update in documentation. :pray:

[2022-02-07 19:40] mmonitz opened #306 "deb/rpm builds for falcosidekick"
**Motivation**

falcosidekick is cool and easy to use with helm. however, there are cases where you want to use falcosidekick on hosts with no container runtime or even docker

**Feature**

- provide rpm and deb builds, similarly to falco
- update documentation and README to match

**Alternatives**

installer script maybe?

**Additional context**

[2022-02-07 21:37] tchellomello commented on #305
Reviewing the documentation, it is already placed at
https://github.com/falcosecurity/falcosidekick/blob/51ce72a9bf83b8875f7ed8b4a190076aec1f45ea/README.md#L559 which I totally overlooked.

Things are good and thanks for the help!

[2022-02-07 21:37] #305 closed

[2022-02-17 22:05] poiana commented on #230
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-02-17 22:05] poiana commented on #230
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/230#issuecomment-1043516472):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-02-19 22:08] poiana commented on #221
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-02 22:39] poiana commented on #278
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-14 12:56] #300 closed

[2022-03-15 16:32] poiana commented on #273
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-03-20 11:00] poiana commented on #248
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-03-21 23:43] poiana commented on #221
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-03-21 23:43] poiana commented on #221
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/221#issuecomment-1074530418):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-03-23 16:31] leogr commented on #248
See https://github.com/falcosecurity/test-infra/issues/430#issuecomment-1058483440
/close

[2022-03-24 05:45] poiana commented on #297
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-02 05:54] poiana commented on #278
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-04-02 05:54] poiana commented on #278
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/278#issuecomment-1086557290):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-04-14 18:53] Milkshak3s opened #313 "GCP Bucket output does not write object to bucket"
**Describe the bug**

After successfully configuring the GCP bucket output option in sidekick, no new bucket objects are created in the remote bucket. Logging indicates the function executes successfully, providing the following message in logs:

`GCPStorage - Upload to bucket OK`

**How to reproduce it**

1. Configure the `GCP Bucket` output in sidekick.
2. Generate a debug event.
3. Observe `GCP

[2022-04-14 21:14] #313 closed

[2022-04-23 12:03] poiana commented on #297
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-04-23 14:25] Issif commented on #297
/remove-lifecycle rotten

[2022-04-23 14:26] Issif commented on #306
.deb and .rpm are more complicated to generate, but we can at least provide binaries with the releases.

[2022-04-28 11:43] #221 closed

[2022-05-01 17:22] poiana commented on #303
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-05-09 11:26] poiana commented on #298
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-05-09 21:44] jnunezgts opened #315 "Falco sidekick opened 34402 ports, caused port exhaustion on host were it was running"
**Describe the bug**

When running Falco sidekick from a Docker container the server eventually ran out of available ports.

**How to reproduce it**

[code]

Leave it running a few days, then eventually will consume all the ports.

**Expected behaviour**

Be nice and leave ports available for other processes on the server :-)

**Screenshots**

Not the whole output but to give you an idea on the po

[2022-05-09 22:46] Issif commented on #315
Hello,

You're running the `latest` image, which is created from `master` without any stability insurance. Can you test again with tag `2.24.0` please. I'll take a look anyway to find out why the image is crashing. Thanks for the report.

[2022-05-10 18:21] jnunezgts commented on #315
Hi,

I switched to the 2.24.0 version of the container, will leave it running for a few hours. So far is holding up:
[code]

[2022-05-10 18:35] Issif commented on #315
It seems OK on falcosidekick side, only one port is Listening, the 2801. The other connections are related to falcosidekick-ui (2802), I reproduce same by reaching falcosidekick-ui with a browser:

[code]

[2022-05-10 19:11] jnunezgts commented on #315
Sorry to report the bug is still there; After 1+ hour it went from 27 connections to 576:

[code]

[2022-05-10 19:21] jnunezgts commented on #315
I just realized than nestat is mangling the output so falco-sidekick-ui could be the process with the issue. Let me re-do one more time, I'll check with lsof instead.

[2022-05-10 19:24] jnunezgts commented on #315
You are correct, falco-sidekick is OK. I'll close the issue here and re-open for falco-sidekick-ui. The original capture for the issue:

[code]

[2022-05-10 19:24] #315 closed

[2022-05-11 13:47] Issif commented on #298
#310

[2022-05-11 13:47] #298 closed

[2022-05-15 23:22] fjzito opened #319 "Add Clustername module Syslog"
**Motivation**

Hello everyone im working mercadolibre and create feature for module Syslog.
The change I made was to add the clustername. It is very necessary to know from which cluster the information is received.

How do I propose it in the community?

Thanks.

**Feature**

Add Clustername for module Syslog with this we can recognize from which cluster it comes.

`"output_fields":{"clustername"

[2022-05-19 15:54] danieljmt opened #322 "Allow EndsAt field to be specified for alertmanager alerts"
**Motivation**
When generating a large number of alerts it would be nice to be able to specify the expiry time, so a different duration can be configured to the global value configured in AM.

**Feature**
EndsAt field allowed to be configured

**Alternatives**
N/A

**Additional context**
N/A

[2022-05-24 14:16] #322 closed

[2022-05-31 10:37] kko72 opened #324 "Label filter for Loki output plugin"
**Motivation**

The Loki output plugin generates labels for all output fields emitted by Falco, which can include high cardinality labels (eg. jevttime).
To avoid any performance side effects on Loki and follow the recommended [best practices](https://grafana.com/docs/loki/latest/best-practices/) , it should be possible to filter the labels we want to output to Loki.

**Feature**

Add a configurat

[2022-05-31 18:18] poiana commented on #303
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-05-31 19:06] #303 closed

[2022-06-01 14:23] VF-mbrauer opened #325 "AWS-Region issue when trying to work with EC2-Instance Profiles via KIAM"
**Describe the bug**

Using a Kubernetes Installation on AWS-EC2-VMs. To communicate to AWS (Assume-Roles) we use KIAM (https://github.com/uswitch/kiam)
When trying to remove the Access_Keys and Access_Secrets and make use of EC2-Instance Profiles, Falcosidekick fails when it tries to connect to AWS.

Error Message in the Logs:
`2022/06/01 10:30:33 [ERROR] : AWS - MissingRegion: could not find reg

[2022-06-01 15:37] Issif commented on #325
Thank you for this report, I'll do some tests on my own with as much use-cases as possible.

[2022-06-09 19:01] kko72 commented on #324
Looks good to me. Thanks!

[2022-06-10 08:58] Issif commented on #319
Can we close this issue please?

[2022-06-13 13:44] #324 closed

[2022-06-13 13:51] Issif opened #328 "Support MQTT and Node-Red as Outputs"
**Motivation**

Falcosidekick is now available as binaries for `arm` and `Falco` will be either too. We can imagine with the plugin to introduce `Falco` and its exosystem in IoT world, be able to connect it to common system used for will be nice

**Feature**

I'm proposing to add the `MQTT` protocol and [`Node Red`](https://nodered.org/) as outputs.

**Alternatives**

N/A

**Additional context**

[2022-06-13 15:47] marc-sensenich opened #329 "Add the ability to utilize Go templates to add dynamic custom fields"
**Motivation**

Currently we're using custom fields to add a static field to all of the Falco events being handled by sidekick. However, we'd like to utilize the Kubernetes labels on the Falco event to determine value for the field we're adding to Falco and fall back to a default if need be.

**Feature**

When declaring custom fields to add to Falco events flowing through sidekick, allow for the a

[2022-06-13 18:08] marc-sensenich opened #330 "Custom Fields that aren't Prometheus Label compliant cause HTTP panic"
**Describe the bug**

When specifying a custom field with a name that doesn't adhere to the regex for Prometheus metric labels as outlined at https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels, it causes a panic and the sidekick is unable to process the event from Falco; e.g.

[code]

**How to reproduce it**

[code]

**Expected behaviour**

Falco sidekick shouldn't panic when

[2022-06-14 10:50] Issif commented on #329
Hello,

I don't understand exactly what you're trying to do. In your example, is `k8s.ns.labels.foo` the label of the namespace of Falco or of the namespace of the Pod within the event occurred?
If it's the label of the namespace of Falco, it's a static intel, you can add as `custom_fields` easily `--set falcosidekick.config.customfields="Akey:<ns_falco>"`.
It it's the label of the Pod within the

[2022-06-14 14:21] marc-sensenich commented on #329
@Issif I'm trying to use the label from the Pod within the event occurred and if that is not defined use a default value. Then rename the field to something that's not `k8s.pod.label.foo`; e.g.`fizz`. So for example, if I have Falco running with `-k` and `-p fizz=%k8s.pod.label.foo`, I'd get an event from Falco to Falco Sidekick that looks something like

[code]

Notice how the `output_fields` con

[2022-06-14 16:03] Issif commented on #329
If `-p fizz=%k8s.pod.label.foo` adds an item in the `output` but `fizz: example` isn't present in the `output_fields`, it means the issue is at Falco level. Falcosidekick has only what Falco sends to it, adding fields that are not in the source JSON can't be done, except by adding a way for Falcosidekick to collect them from K8s control plane, what I don't want. Falcosidekick is a proxy, I want to

[2022-06-14 17:10] marc-sensenich commented on #329
Without digging too deep into the Falco code, I'm assuming that in the example I've shared that `k8s.pod.label.foo` appears in place of `foo` due to Falco itself only projecting its supported fields as defined at https://falco.org/docs/rules/supported-fields. I'd say that's expected behavior and not an issue.

It makes sense that you don't want Falcosidekick to be aware of where it's running. A I

[2022-06-14 22:12] Issif commented on #329
Ok, now I see what you're talking about. I'll try to propose you something asap.

[2022-06-15 03:32] #319 closed

[2022-06-16 10:28] r0binak opened #331 "Binding PolicyReport resource to Namespace by ownerReference"
**Motivation**

Using various observability tools, it is not always clear what the resource is related to / refers to

**Feature**

When generating the PolicyReport resource, I suggest adding the ownerReference field. By this field, it will be easy to determine what the resource belongs to. For example, such functionality is available in Kyverno. Very comfortably

[2022-06-16 11:56] Issif opened #332 "CustomFields keys cannot contain a dot"
**Describe the bug**

The `customfields` keys cannot contain a `dot` or the Umarshalling fails:

[code]
[code]
**How to reproduce it**

See example :arrow_up:

**Expected behaviour**

Be able to use `.` in keys

**Screenshots**

N/A

**Environment**

- Falco version: All versions are concerned on all systems

**Additional context**

[2022-06-16 13:11] marc-sensenich commented on #329
Thank you @Issif

[2022-06-16 13:24] Issif commented on #330
Hello,
I'm working on this bug right now, I noticed other issues. I will propose a PR soon.

[2022-06-16 19:41] Issif opened #334 "The CI should not run docker and goreleaser for PR"
**Describe the bug**

The CI runs steps that should only be configured for master, like goreleaser or docker build: https://app.circleci.com/pipelines/github/falcosecurity/falcosidekick/685/workflows/e6d0ccef-9d19-4962-b143-acc0ffa97cfe/jobs/1872

**How to reproduce it**

Submit a PR

**Expected behaviour**

Only run lint and test in CI for the PR

**Screenshots**

![image](https://user-images.git

[2022-06-17 12:26] eelkonio commented on #325
I've tested it as we also want to use KIAM. We do get one step further, but then this error occurs:

[code]

As you may expect, we do not use OIDC and do not have OIDC configured. Is it absolutely necessary to have an OIDC provider for FalcoSidekick?

Cheers,
  Eelko

[2022-06-17 12:53] eelkonio commented on #325
Found the problem on my side - I had set the config.aws.rolearn which then triggered the OIDC path in the code. When left empty there is no error message and KIAM is used as intended!

[2022-06-24 18:26] n3k0m4 commented on #332
Hello,
I have been working with Falcosidekick for a few months now, and I have decided to contribute.
I looked a bit into the issue of using keys containing the key delimiter `.`, following both [issue](https://github.com/spf13/viper/issues/324) and [PR](https://github.com/spf13/viper/pull/794#issue-337317980) from viper.
It seems that the only supported option for allowing `.` is to modify `defau

[2022-06-26 19:36] Issif commented on #325
If it's OK for you, do you think we can close this issue then? Thanks

[2022-06-26 19:39] Issif commented on #332
Hi, thank you for your help. I tested same solution with `defaultKeyDelimiter`, I agreed it works, with values from yaml file, but it breaks with settings from env vars, it's annoying. This is why I created this issue, to keep it in the Todo as the fix is not so trivial after all

[2022-06-29 21:22] tks98 opened #339 "Alertmanager output priority label was replaced with event source"
**Describe the bug**

https://github.com/falcosecurity/falcosidekick/pull/276 added the falco rule priority label to alertmanager alerts. However, it was replaced with "eventsource" in this commit: https://github.com/falcosecurity/falcosidekick/commit/df701e09acad36d39772f5dfe26fbcc462b46989#diff-ba11f068a20574b892b9d687c40fc35d0ae2573b1dada7fc3cdb50afe3bd0b8f

In the other outputs, eventsource wa

[2022-06-29 21:37] Issif commented on #339
:man_facepalming: Sorry for that. Thanks for your PR

[2022-07-11 08:56] Issif commented on #325
/close

[2022-07-11 08:56] #325 closed

[2022-07-11 08:56] poiana commented on #325
@Issif: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/325#issuecomment-1180139183):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/tes

[2022-07-11 09:05] Issif commented on #328
See #338 and #337

[2022-07-11 09:05] #328 closed

[2022-07-12 09:50] xiaochen-2050 opened #344 "When elasticsearch use custom certificate will lead to failure"
Describe the bug
When es url prefix `https` url.parse method is failed use the custom CA
x509: certificate signed by unknown authority

https://github.com/falcosecurity/falcosidekick/blob/4aa56d3841c7345300a18e99e8b1de32351e4572/outputs/elasticsearch.go#L28

Expected behaviour
ignore the ssl check when specific `checkcert: false`

[2022-07-13 00:13] #344 closed

[2022-07-15 21:49] #330 closed

[2022-07-20 13:01] Issif commented on #331
Hello,

Just to be sure we're aligned, you would like something like:

[code]

I'm not 100% sure what's the most obvious for users, using Falco or Sidekick as Owner, wdyt?

[2022-07-20 13:14] fjogeleit commented on #331
Using the deployment is not possible because the owner reference can not be a namespace scoped object in another resource namespace as the report

You can bind it, as Kyverno to the Namespace object.

[2022-07-21 08:39] Issif commented on #331
The behavior of the output is:
* if `ka.target.namespace` or  `k8s.ns.name` are present, it will create/update a Policy Report
* else it will create/update a Cluster Policy Report

I understand we can set the Namespace as Owner for the Policy Report, but what which one, falco's namespace? compromised resource's namespace?
And what about the Cluster Policy Report?

[2022-07-21 08:55] #334 closed

[2022-07-21 10:08] r0binak commented on #331
If a namespace resource, then the namespace for the resource that was attacked. Cluster not to connect in any way.

[2022-07-21 11:31] Issif commented on #331
FYI, the ClusterPolicyReport are used for attacks to the kubernetes API from outside a Pod, these events are collected with the k8saudit log plugin

[2022-07-21 15:08] Issif commented on #331
Does this seem good to you?

[code]

You can test the image `falcosecurity/falcosidekick:owner`

[2022-07-21 15:46] fjogeleit commented on #331
Is default the Namespace of the Report? I think he means the namespace where falcosidekick is installed, like kyverno sets the namespace of the kyverno pods.

[2022-07-21 16:20] Issif commented on #331
This is not the default, the current implementation of the `PolicyReport` creates the reports in the same namespace than the Pod where the event occurred. I used for my test a Pod in `default` that's all.

[2022-07-21 20:29] Issif commented on #331
After discussion with @fjogeleit it appeared I misunderstood the use case. I changed the code and now it adds as OwnerRef the namespace where Falcosidekick is deployed. The value is retrieved by the env var NAMESPACE that it will be set in the deployment template.

Here's the result:

[code]

[2022-07-22 14:34] Issif commented on #331
It will be released with 2.27.0

[2022-07-22 14:34] #331 closed

[2022-07-25 15:40] poiana commented on #278
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-07-25 15:40] poiana commented on #297
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-07-26 13:13] sausagenoods opened #348 "Elasticsearch - header missing (400)"
**Describe the bug**
Falcosidekick fails to forward events to Elasticsearch. Falcosidekick prints out error `header missing (400)`, sometimes without the `(400)`. Falco and Falcosidekick are running on the same server outside of containers, Elasticsearch is deployed within Docker Compose on another server.

**How to reproduce it**
1. Start Elasticsearch using the [docker-compose.yaml](https://gith

[2022-07-27 08:21] sausagenoods commented on #348
Update: When I change type to "_doc" from "event", everything works. Is "event" type supposed to be created manually?

[2022-07-27 11:04] Issif commented on #348
Hi,

You're right, I implemented Elasticsearch output a long time ago, it's now time to update it for more recent versions.

Notice the 400 error may also happen in another case, see https://github.com/falcosecurity/charts/issues/371. For now, I don't have a clear solution except forcing the mapping

[2022-07-27 15:40] poiana commented on #140
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-07-28 16:48] Issif commented on #329
Here's the current status of my tests.

With these settings:
[code]
A test `curl` with the value `k8s.ns.labels.foo` present in the `output_fields`:

[code]
Gives this result:
[code]

Without the value in `output_fields`, we have:
[code]

The templated fields are executed in last, it means you can use also use the `customfields` in your template:
[code]

Do you want to test an image?

[2022-08-03 12:43] sboschman opened #351 "Update Loki endpoint and json format"
**Motivation**

Currently falcosidekick uses the deprecated Loki `/api/prom/push` endpoint (https://grafana.com/docs/loki/v2.6.x/api/#post-apiprompush). Might be a good idea to switch to the new Loki `/loki/api/vi/push` endpoint (https://grafana.com/docs/loki/v2.6.x/api/#push-log-entries-to-loki), including the new json format, before the old endpoint is dropped.

**Feature**

Switch Loki endpoint

[2022-08-03 13:43] Issif commented on #351
Hi,

The PR #309 introduced the possibility to set the URI for Loki endpoint, I agree it's time to use `/loki/api/v1/push` as default and the JSON format (much easier to debug). For avoiding to break things for users with old Loki servers, I'll add a option to choose the event format, just in case.

[2022-08-23 12:51] Issif commented on #351
I finally decided to deprecate the old format for the new one, as it's there for a while. It seems to be ok in my last tests:
![image](https://user-images.githubusercontent.com/4520100/186162375-1a0bdc5a-63c5-49af-90bf-d457bb6e11df.png)

[2022-08-24 14:04] Issif commented on #351
It will be released with next version :+1:

[2022-08-24 14:04] #351 closed

[2022-08-26 15:44] poiana commented on #140
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-08-29 21:44] poiana commented on #306
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-03 08:31] fl42 opened #363 "[SMTP] INVALID HEADER"
Hello,

**Describe the bug**

I'm unable to send emails using SMTP output.
When sending email alerts through [docker-mailserver](https://github.com/docker-mailserver/docker-mailserver) SMTP, email is bounced with the following error:

[code]

Email header:
[code]

**How to reproduce it**

Use SMTP output with SMTP server provided by [docker-mailserver](https://github.com/docker-mailserver/docker-m

[2022-09-05 11:01] Issif commented on #363
Good catch, I used AWS SES and Mailhog for my tests, it worked. Let met see how to fix that.

[2022-09-05 20:33] igoritos22 opened #365 "Add channel/channel_id in slack properties"
There may be some situations where it is necessary to pass a specific channel in the slack message post. It would be interesting to have something like this:

[code]

[2022-09-07 11:03] Issif commented on #365
I'll add the feature asap.

[2022-09-08 20:18] Issif commented on #365
the PR is merged, it will be in next release

[2022-09-15 15:47] poiana commented on #230
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-15 15:47] poiana commented on #273
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-15 15:47] poiana commented on #222
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-16 03:13] zhiweiv commented on #344
@xiaochen-2050
Does this work for you now?

[2022-09-20 15:54] e-minguez opened #369 "Add ARM support"
**Motivation**

As Falco supports ARM, I guess it would be nice for sidekick to support ARM as well.

**Feature**

Support ARM CPUs

**Alternatives**

N/A

**Additional context**

[2022-09-20 15:59] e-minguez commented on #369
Nevermind, I've seen it supports ARM... what doesn't support ARM is the redis dependency. I guess I'll open the issue in the helm chart repo instead. Sorry for the noise.

[2022-09-20 15:59] #369 closed

[2022-09-21 11:14] CXYALEX commented on #181
@fjogeleit I have the same problem. how did you solve it.

[2022-09-25 15:47] poiana commented on #140
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-09-25 15:47] poiana commented on #140
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/140#issuecomment-1257221655):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-09-28 21:48] poiana commented on #306
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-09-30 09:06] epcim commented on #181
I see it either, 50% events to loki.

Very simple log on sidekick side.

Could `\u003cNA\u003e` (without ") be the cause. .I received `<NA>` without any problem on fd.name for example in other cases.. but in `"`
[code]

[2022-09-30 09:08] epcim commented on #181
possibly related https://githubhelp.com/falcosecurity/falcosidekick/issues/77

[2022-09-30 22:03] Issif commented on #181
The Loki output for next release 2.27 will be upgraded, hope it will help you https://github.com/falcosecurity/falcosidekick/pull/356

[2022-10-12 02:22] pirxthepilot opened #370 "Optional `output` field?"
**Motivation**

In an effort to make events coming from Falco as compact as possible, I would like to set [`json_include_output_property`](https://github.com/falcosecurity/falco/blob/master/falco.yaml#L84) to `false`. However, it looks like falcosidekick does not accept events that do not have the `output` field ([here](https://github.com/falcosecurity/falcosidekick/blob/master/types/types.go#L15)

[2022-10-12 09:41] Issif commented on #370
You're right, these fields are mandatory, what's your use case exactly? Even with them, the size of the payload is quite small and these fields are really useful for a lot of systems (eg response engine)

[2022-10-13 02:56] pirxthepilot commented on #370
Hi Thomas, our falco config is generating a lot of events (on purpose) and so every bit of savings in the message size helps. The messages ultimately end up in a SIEM where only `output_fields` is used, aside from the rule name, priority and timestamp, so we really do not need `output`. We also have a few rules where we collect a lot of fields so the output can get quite big. And if falco itself s

[2022-10-15 15:52] poiana commented on #230
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-10-15 15:52] poiana commented on #222
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-10-15 15:52] poiana commented on #273
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-10-19 09:53] poiana commented on #332
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-10-23 15:56] poiana commented on #278
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-10-23 15:56] poiana commented on #297
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-10-25 15:56] poiana commented on #348
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-10-25 16:08] bc-sb opened #375 "400 Headers Missing When Firing Multiple Alerts via HTTP Post"
**Describe the bug**
When testing the falco/spyderbat integration we were seeing 400's header missing

**How to reproduce it**
setup a simple http service with a nonzero delay and a required header and point the webhook integration at it and fire 2 test events

**Expected behaviour**
200 responses for both request

**Screenshots**
[code]

**Environment**
Saw first in aws hosted kubernetes, but abl

[2022-10-27 00:36] goofiw opened #377 "Sending logs to grafana loki hosted on grafana cloud"
**Motivation**

I'm trying to send event logs to grafana loki hosted by grafana cloud

**Feature**

Add options for api key and user to loki configuration.  In grafana cloud, there's a generic host (in our case https://logs-prod-us-central1.grafana.net), user and password (which is a generated apikey like password)

From the current settings, it is unclear how to provide the authentication informa

[2022-10-28 21:47] Issif commented on #377
I'm off this week, I'll try to take a look at this asap.

[2022-10-29 03:26] poiana commented on #306
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-10-29 03:26] poiana commented on #306
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/306#issuecomment-1295708057):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-10-31 10:20] Issif commented on #297
/remove-lifecycle rotten

[2022-10-31 10:20] Issif commented on #278
/remove-lifecycle rotten

[2022-11-02 10:52] #375 closed

[2022-11-02 11:10] Issif commented on #377
Ok I see, for now, the Loki output doesn't work with Grafana Logs, I saw how to change that:

[code]

[2022-11-02 11:49] Issif commented on #375
I'm not sure the Lock solved the issue after all, I'm updating the Loki output to work with Grafana Logs (SaaS), and I'm facing this issue:

[code]

[2022-11-02 12:18] bc-sb commented on #375
It might need a refactor at this point. It seems like because there are 2
methods that can manipulate the headers there is definitely a non zero
chance one might beat the other. Wondering if the post call can accept the
headers and just do it locally in scope. If you move the lock unlock into
the Loki client I assume it fixes it?

On Wed, Nov 2, 2022 at 7:49 AM Thomas Labarussias ***@***.***>
wrot

[2022-11-02 14:00] Issif commented on #375
Yes, your first solution by locking at output level seems the only way for now. Sorry for having led you in a wrong direction.

[2022-11-04 19:03] Issif commented on #375
@bc-sb can you submit a new PR or do you want me to do it?

[2022-11-07 20:27] bc-sb commented on #375
@Issif sorry...last week got away from me...so you want the original version I posted put up for PR?  If so, I can certainly quickly get that done.

[2022-11-09 14:11] aboe76 opened #382 "Support Common Event Format (CEF) format"
**Motivation**

To make it easier to integrate falco and microsoft sentinel I would like to be able to output
falco as CEF formatted messages. This make is also possible to connect/integrate falco with
more security related products wich already support CEF.
- centrify
- arcsight
- splunk

**Feature**

CEF output looks like syslog but is formated differently. Microsoft Sentinel supports
protocol -

[2022-11-09 15:18] Issif commented on #382
Hello,

This is interesting, if I understand correctly this [doc](https://learn.microsoft.com/en-us/azure/sentinel/connect-common-event-format) and you, it's just replicate the syslog output but format the payload into the CEF format. I prefer to create a dedicated output for each solution, to have better metrics, even if the way to do in backend is same. Thank you, I'll dig deeper asap.

[2022-11-14 21:29] poiana commented on #222
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-11-14 21:29] poiana commented on #230
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/230#issuecomment-1314412033):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-11-14 21:29] #230 closed

[2022-11-14 21:29] poiana commented on #273
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-11-14 21:29] poiana commented on #222
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/222#issuecomment-1314412076):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-11-14 21:29] #273 closed

[2022-11-14 21:29] poiana commented on #273
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcosidekick/issues/273#issuecomment-1314412109):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/te

[2022-11-18 15:29] poiana commented on #332
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-11-23 15:34] poiana commented on #329
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-24 21:34] poiana commented on #348
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-11-29 16:23] aboe76 commented on #382
This looks nice 👍,  yes I think you can add key Values, and some examples from the Microsoft page will tell you if they can automatically recognized